.app {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(255, 252, 248);
}

header {
  padding-top: 45px;
  padding-bottom: 10px;
}

body {
  margin: 0;
  padding-bottom: 40px;
  font-family: sans-serif;
  background-color: rgb(255, 252, 248);
}

h1 {
  color: rgba(0, 0, 0, 0.85);
  font-size: 38px;
  text-align: center;
}

.imageAndTextContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 375px;
  height: 300px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 10px 1px #8888888a;
  background-color: rgba(240, 240, 240, 0.479);
  cursor: pointer;
}

.galleryItemDescriptionContainer{
  text-align: left;


}

.galleryItemContainer {
  padding-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
 
}

button {
  color: azure;
  width: 80px;
  background-color: rgba(54, 54, 54, 0.849);
  border-style: solid;
  border-color: rgba(54, 54, 54, 0.849);
  padding: 5px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}



